<h1>Poem#merge</h1>

<% @poem_logs.each do |poem| %>
  <p>Title:<%= @poem.title %></p>
  <p>Content:<%= @poem.content %></p>
  <input type="button" onclick="location.href='/poems/new?is_edit=1&poem_id=<%= @poem.id %>'"value="edit">
<% end %>
